canvas {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#backdropContainer img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#dialogueTextContainer {
    color: black;
    background-color: white;

    z-index: 10;

    position: absolute;
    min-width: 256px;

    padding: 4px;
    line-height: 20px;

    white-space: pre-wrap;
    font-family: sans-serif;
}

#dialogueTextContainer span.Selected {
    outline: 1px solid black;
    padding: 2px;
    margin-left: 4px;
}

#dialogueTextContainer .Option {
}